html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.page{
    height:100%;
}
.across{
    display: flex;
    justify-content: space-between;
}
.infos,.contact{
    width: 40%;
    min-width:500px;
    box-sizing: border-box;
}
.header{
    float:left;
    box-sizing: border-box;
    width: 20%;
    background: skyblue;
    text-align: center;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
    overflow: hidden;
}
.msg{
    float: left;
    margin-left: 2%;
}
.intro{
    font-size: 25px;
    font-weight: 700;
}
.infos,.contact,.descr,.edu,.exp{
    margin-top:10px;
    margin-bottom: 10px;
}
