*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
}
.img_head{
    background: url(img/head.png) no-repeat;
    width: 100%;
    height: 990px;
    /* height:calc((990 / 1599) * 100vw); */
    max-width: 1599px;
    /* max-height: 990px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* .form1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 35%;
    border: 1px solid white;
} */
.fp_form1_p_box{
    height: 40%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.fp_form1_p1{
    height: 40%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* line-height: 40%; */
    font: 1em;
    font-family: 'Courier New', Courier, monospace;
}
.fp_form1_p2{
    height: 40%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* line-height: 40%; */
    font-size: .85em;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

/* .form1_con_row{
    height: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
} 
.account{
    width: 35%;
    border: 1px solid grey;
    color: white;
    font-size: .85em;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
     text-indent:1em; 
    display: flex;
     justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.password{
    width: 35%;
    border: 1px solid grey;
    color: grey;
    font-size: .85em;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    text-indent:1em; 
    display: flex;
    
    align-items: center;
    overflow: hidden;
}
.btn{
    width: 20%;
    background: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    text-align: center;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
@media only screen and (max-width:599px){
    .firstpage_content{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .fp_p1{
        font-size: 2.5em;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        text-align: center;
        margin: 0 auto;
        height: 10%;
        width: 100%;
        margin-top: 50px;
    }
    .fp_p2{
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        height: 20%;
    }
    .fp_form1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 60%;
    border: 1px solid white;
    }
    
    .fp_form1_con_row_box{
        height:50%;
        width: 80%;
        margin: 0 auto;
    }
    .fp_form1_con_row{
        height: 80%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    .fp_account{
        width: 100%;
        border: 1px solid grey;
        color: white;
        font-size: .85em;
        font-family: 'Courier New', Courier, monospace;
        height: 30%;
        /* text-indent:1em; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* word-break:break-all; */
        /* word-wrap:break-word; 
        word-break:break-all;  */
    }
    .fp_password{
        width: 100%;
        border: 1px solid grey;
        color: grey;
        font-size: .85em;
        font-family: 'Courier New', Courier, monospace;
        height: 30%;
        /* text-indent:1em; */
        display: flex;
        
        align-items: center;
        
    }
    .fp_btn{
        width: 50%;
        background: white;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        height: 30%;
        text-align: center;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
@media only screen and (min-width:600px){
    .firstpage_content{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .fp_p1{
        font-size: 2.5em;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        text-align: center;
        margin: 0 auto;
        height: 10%;
        width: 100%;
        margin-top: 50px;
    }
    .fp_p2{
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        height: 20%;
    }
    .fp_form1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        height: 35%;
        border: 1px solid white;
    }
    .fp_form1_con_row_box{
        height:35%;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .fp_form1_con_row{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    .fp_account{
        width: 35%;
        border: 1px solid grey;
        color: white;
        font-size: .85em;
        font-family: 'Courier New', Courier, monospace;
        height: 100%;
        /* text-indent:1em; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        overflow: hidden;
    }
    .fp_password{
        width: 35%;
        border: 1px solid grey;
        color: grey;
        font-size: .85em;
        font-family: 'Courier New', Courier, monospace;
        height: 100%;
        /* text-indent:1em; */
        display: flex;
        
        align-items: center;
        overflow: hidden;
    }
    .fp_btn{
        width: 20%;
        background: white;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        height: 100%;
        text-align: center;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}